{% extends 'password_locker/pasker_base.html' %}
{% block title %} 
    {% if title %} {{title}}
    {% else %} Pasker
    {% endif %}
{% endblock %}
{% block content %}
  <table class="min-w-full text-sm text-gray-400" id="myTable">
    <thead class="bg-black text-xs uppercase font-medium">
      <tr>
        <th></th>
        <th scope="col" class="px-6 py-3 text-left tracking-wider">
          Service Name
        </th>
        <th scope="col" class="px-6 py-3 text-left tracking-wider">
          Username
        </th>
        <th scope="col" class="px-6 py-3 text-left tracking-wider">
          Password
        </th>
        <th scope="col" class="px-6 py-3 text-left tracking-wider">
          Created By
        </th>
        <th scope="col" class="px-6 py-3 text-left tracking-wider">
          Created Date
        </th>
      </tr>
    </thead>
    <tbody class="bg-[#262626]">
      {% for protected_data in protected_data_list %}
      <tr class="bg-black bg-opacity-20" onclick="sidebar_view('{{ protected_data }}')">
        <td class="pl-4 text-white" id="serial-no">
          <a href="{% url 'credential-detail' protected_data.id %}">{{ forloop.counter }}</a>
        </td>
        <td class="flex-col px-6 py-4 whitespace-nowrap">
          <span class="ml-2 font-medium">
            {{ protected_data.service_name }}
          </span>
        </td>
        <td class="flex-col px-6 py-4 whitespace-nowrap">
          <span class="ml-2 font-medium">
            ********
          </span>
        </td>
        <td class="flex-col px-6 py-4 whitespace-nowrap">
          <span class="ml-2 font-medium">
            ********
          </span>
        </td>
        <td class="flex-col px-6 py-4 whitespace-nowrap">
          <span class="ml-2 font-medium">
            {{ protected_data.created_by.username }}
          </span>
        </td>
        <td class="flex-col px-6 py-4 whitespace-nowrap">
          <span class="ml-2 font-medium">
            {{ protected_data.created_date }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
  <!-- <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div> -->