{% extends 'password_locker/credentials.html' %}
{% block sidebar %}
    <div class="content-section">
        <form method="POST" class="max-w-md mx-auto">
            {% csrf_token %}
            <legend class="border-b mb-4 font-bold text-lg">{{object.service_name}} Credential</legend>
            <div class="mb-4">
                <label for="service_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Service Name
                </label>
                <span class="input-credential">********</span>
            </div>
            <div class="mb-4">
                <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Username
                </label>
                <span class="input-credential">********</span>
            </div>
            <div class="mb-4">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Password
                </label>
                <span class="input-credential">********</span>
            </div>
            {% block delete-block %}
            {% if request.user == object.created_by  %}
                <div class="flex-row mt-2 mx-3 justify-start">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-credential' object.id %}">
                            Update
                        </a>
                    </button>
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'delete-credential' object.id %}">
                            Delete
                        </a>
                    </button>
                </div>
            {% endif %}
            {% endblock %}
        </form>
    </div>
   
{% endblock %}